// Definitions for Smart Car V1.2 Module
/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&gpio>;
		__overlay__ {
			status = "okay"; /* device is enabled */
			gpio_driver_pins: gpio_driver_pins {
				brcm,pins = <23 27>;
				brcm,function = <1 1>; /* 0:in, 1:out */
				brcm,pull = <0 0>; // 2:up 1:down 0:none
			};
			motor0_phase_a: motor0_phase_a {
				pwms = <&pca9685 0 20000000>;
				pwm-names = "motor0_phase_A";
			};
			motor0_phase_b: motor0_phase_b {
				pwms = <&pca9685 1 20000000>;
				pwm-names = "motor0_phase_b";
			};
			motor1_phase_a: motor1_phase_a {
				pwms = <&pca9685 2 20000000>;
				pwm-names = "motor1_phase_A";
			};
			motor1_phase_b: motor1_phase_b {
				pwms = <&pca9685 3 20000000>;
				pwm-names = "motor1_phase_b";
			};
			motor2_phase_a: motor2_phase_a {
				pwms = <&pca9685 4 20000000>;
				pwm-names = "motor2_phase_A";
			};
			motor2_phase_b: motor2_phase_b {
				pwms = <&pca9685 5 20000000>;
				pwm-names = "motor2_phase_b";
			};
			motor3_phase_a: motor3_phase_a {
				pwms = <&pca9685 6 20000000>;
				pwm-names = "motor3_phase_A";
			};
			motor3_phase_b: motor3_phase_b {
				pwms = <&pca9685 7 20000000>;
				pwm-names = "motor3_phase_b";
			};
		};
	};

	fragment@1 {
		target = <&i2c_arm>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			pca9685: pca9685@40 {
				// https://github.com/raspberrypi/linux File: pwm-pca9685.c
				compatible = "nxp,pca9685-pwm"; //PCA9685PW
				#pwm-cells = <2>;
				reg = <0x40>;
				pinctrl-0 = <&gpio_driver_pins>;
				status = "okay";
			};
		};
	};
	
	fragment@2 {
		target-path = "/";
		__overlay__ {
			gpio_ir: ir-receiver {
				// https://github.com/raspberrypi/linux File: gpio-ir-recv.c
				compatible = "gpio-ir-receiver";
				gpios = <&gpio 15 1>;
				// linux,rc-map-name = "rc-rc6-mce";
				status = "okay";
			};
		};
	};

	fragment@3 {
		target-path = "/";
		__overlay__ {
			srf04@j4 {
				// https://github.com/raspberrypi/linux File: srf04.c
				compatible = "devantech,srf04";
				trig-gpios = <&gpio 5 0>;
				echo-gpios = <&gpio 6 0>;
				power-gpios = <&gpio 12 0>;
				startup-time-ms = <150>;
				status = "okay";
			};
		};
	};

	fragment@4 {
		target-path = "/";
		__overlay__ {
			srf04@j5 {
				// https://github.com/raspberrypi/linux File: srf04.c
				compatible = "devantech,srf04";
				trig-gpios = <&gpio 4 0>;
				echo-gpios = <&gpio 16 0>;
				power-gpios = <&gpio 13 0>;
				startup-time-ms = <150>;
				status = "okay";
			};
		};
	};
};
